
.idea/       
.vscode/
*.iml
*.class
*.log
.DS_Store 
Thumbs.db
/target/
/.gradle/
/build/
/.m2/
.gradle/
.docker/
docker-compose.override.yml
docker-compose.override*.yml
*.env                  
*.log
application.properties 